[submodule "maths_branch"]
	path = maths_branch
	url = https://github.com/jmcheon/maths_branch
	branch = main
[submodule "algo_ai_data_branch"]
	path = algo_ai_data_branch
	url = https://github.com/jmcheon/algo_ai_data_branch
	branch = main
[submodule "web_mobile_branch"]
	path = web_mobile_branch
	url = https://github.com/jmcheon/web_mobile_branch
	branch = main
[submodule "system_kernel_branch"]
	path = system_kernel_branch
	url = https://github.com/jmcheon/system_kernel_branch
	branch = main
[submodule "devops_branch"]
	path = devops_branch
	url = https://github.com/jmcheon/devops_branch
